<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>
<h2 class="archive-title<% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>"><%= title %></h2>

<% if (pagination == 2){ %>
  <% page.posts.each( item =>{ %>
    <%- partial('article', {item: item, index: true}) %>
  <% }); %>
  <%- partial('pagination') %>
<% } else { %>
  <ul class="post-list">
    <% page.posts.each( item =>{ %>
      <li class="post-list__item">
        <a class="post-list__link" href="<%- config.root %><%- item.path %>" target="_blank">
          <time class="post-list__date" datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
          <span class="post-list__title" ><%= item.title %></span>
        </a>
      </li>
    <% }); %>
  </ul>
<% } %>
