<%
var title = '';
const icons = {
  category: `folder`,
  tag: `local-offer`,
  archive: `access-time`,
};
const type = page.category ? `category` : page.tag ? `tag` : `archive`;
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>
<div>
  <h2 class="archive-title<% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>">
    <%- partial('_icon', {name: icons[ type ]}) %>  <%= title %>
  </h2>

  <% if (pagination == 2){ %>
    <% page.posts.each( item =>{ %>
      <%- partial('article', {item: item, index: true}) %>
    <% }); %>
    <%- partial('pagination') %>
  <% } else { %>
    <ul class="post-list">
      <% page.posts.each( item =>{ %>
        <li class="post-list__item">
          <%- partial('_post/title_block', {item, index: true}) %>
        </li>
      <% }); %>
    </ul>
  <% } %>
</div>
