<%
  const isListPage = index === true
  const isDraft = !item.published
  const articleDraftCLass = isDraft ? `article--draft` : ``
%>

<article class="article article--full <%= articleDraftCLass %>">
  <% if (page.photos && page.photos.length){ %>
    <%- partial('post/gallery') %>
  <% } %>
  <%- partial('_post/title_block', {item: page, className: `article__header`}) %>
  <div class="article__content">
    <%- page.content %>
  </div>
  <footer class="article__footer">
    <%- partial('post/category') %>
    <%- partial('post/tag') %>
    <%- partial('post/share') %>
  </footer>
</article>

<%- partial('comment') %>
