<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%
  const titleElements = [];
  if (page.current > 1) titleElements.push(__('page', page.current));
  if (page.title) titleElements.push(page.title);
  if (page.category) titleElements.push(page.category);
  if (page.tag) titleElements.push(page.tag);
  if (page.archive){
    if (page.year) titleElements.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else titleElements.push(__('archive_a'));
  }
  titleElements.push(config.title);
  const title = titleElements.join( ` | ` )
  const description = page.description ? page.description
    : config.description ? config.description
    : false
  %>
  <title><%= title %></title>
  <% if (config.author){ %>
    <meta name="author" content="<%= config.author %>" />
  <% } %>
  <% if (description){ %>
  <meta name="description" content="<%= description %>" />
  <% } %>
  <% if (page.keywords){ %>
    <meta name="keywords" content="<%= page.keywords %>" />
  <% } %>

  <%# Open graph tags %>
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="<%= config.title %>"/>
  <% if (page.title){ %>
    <meta property="og:title" content="<%= page.title %>"/>
  <% } %>
  <% if (page.permalink){ %>
    <meta property="og:url" content="<%= page.permalink %>" />
  <% } %>
  <% if (description){ %>
  <meta name="og:description" content="<%= description %>" />
  <% } %>
  <% if(page.cover) { %>
    <meta property="og:image" content="<%= page.permalink %><%= page.cover %>" />
  <% } %>

  <%# Twitter tags %>
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:site" content="<%= theme.twitter.username %>" />
  <meta property="twitter:creator" content="<%= theme.twitter.username %>" />

  <link href="<%- config.root %>favicon.png" rel="icon">
  <link rel="alternate" href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= config.title %>" type="application/atom+xml">

  <link href='//fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="<%- config.root %>hiswe-theme.css" media="screen" type="text/css">
  <%- partial('google_analytics') %>
</head>

