<header class="article__header">
  <% if (item.layout != 'page'){ %>
    <time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time>
  <% } %>
  <% if (item.path){ %>
      <h1 class="title">
        <a href="<%- item.path %>"><%= item.title %></a>
      </h1>
  <% } else { %>
    <% if (index){ %>
      <h1 class="title">
        <a href="<%- config.root %><%- item.path %>"><%= item.title %></a>
      </h1>
    <% } else { %>
      <h1 class="title"><%= item.title %></h1>
    <% } %>
  <% } %>
</header>
