<header class="article__header">
  <%
    const postUrl = url_for(item.path)
  %>
  <% if (item.layout != 'page'){ %>
    <div class="article__dates dates">
      <%
        const published = item.date.format(config.date_format)
        const updated = item.updated.format(config.date_format)
      %>
      <time class="dates__item dates__item--published" datetime="<%= item.date.toDate().toISOString() %>">
        <a href="<%- postUrl %>">
          <%= published %>
        </a>
      </time>
      <% if (published !== updated && !index) { %>
        <time class="dates__item dates__item--updated" datetime="<%= item.updated.toDate().toISOString() %>">
            updated on <%= updated %>
        </time>
      <% } %>
    </div>
  <% } %>

  <h1 class="article__title">
    <a href="<%- postUrl %>"><%= item.title %></a>
  </h1>
</header>
