<!DOCTYPE HTML>
<html>

<%- partial('_partial/head') %>

<body>
  <%- partial('svg-icons.svg') %>
  <header id="" class="main-header"><%- partial('_partial/header') %></header>
  <main role="main">
    <%- body %>
  </main>
  <aside class="sidebar">
    <div class="sidebar__sticky">
      <%- partial('_partial/sidebar') %>
    </div>
  </aside>
  <footer class="main-footer"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
