<!DOCTYPE HTML>
<html>

<%- partial('_partial/head') %>

<body>
  <header id="header" class="inner"><%- partial('_partial/header') %></header>
  <main role="main">
    <%- body %>
  </main>
  <aside id="sidebar">
    <div class="sidebar__sticky">
      <%- partial('_partial/sidebar') %>
    </div>
  </aside>
  <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
