<!DOCTYPE HTML>
<html>

<%- partial('_partial/head') %>
<%
  const classes = [
    `layout`,
    is_post() ? `layout--post` : `layout--listing`,
  ]
  if (page.archive) classes.push(`layout--archive`)
%>
<body class="<%= classes.join(' ') %>">
  <%- partial('svg-icons.svg') %>
  <header class="main-header">
    <%- partial('_partial/header') %>
  </header>
  <main role="main">
    <%- body %>
    <aside class="widgets">
      <div class="widgets__sticky">
        <%- partial(`_widget/category`) %>
        <%- partial(`_widget/tag`) %>
      </div>
    </aside>
  </main>
  <footer class="main-footer">
    <%- partial('_partial/footer') %>
  </footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
