<!DOCTYPE HTML>
<html>

<%- partial('_partial/head') %>
<%
  const pageClass = is_post() ? `layout--post` : `layout--listing`
%>
<body class="<%= pageClass %>">
  <%- partial('svg-icons.svg') %>
  <header id="" class="main-header"><%- partial('_partial/header') %></header>
  <main role="main">
    <%- body %>
  </main>
  <aside class="widgets">
    <div class="widgets__sticky">
      <%- partial(`_widget/category`) %>
      <%- partial(`_widget/tag`) %>
    </div>
  </aside>
  <footer class="main-footer"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
