<article class="article-long">
  <% if (page.photos && page.photos.length){ %>
    <%- partial('_partial/post/gallery') %>
  <% } %>
  <%- partial('_post/title_block', {item: page, index: false, className: `article-long__header`}) %>
  <aside class="article-long__toc">
    <div class="article-long__toc-sticky js-toc">
      <%- toc(page.content, {list_number: false, max_depth: 3}) %>
    </div>
  </aside>
  <div class="article-long__content">
    <%- page.content %>
  </div>
  <footer class="article-long__footer">
    <%- partial('_partial/post/category', {item: page}) %>
    <%- partial('_partial/post/tag', {item: page}) %>
    <%- partial('_partial/post/share', {item: page}) %>
  </footer>
</article>

<%- partial('_partial/comment') %>
