<%
  const isDraft = !page.published
  const articleDraftCLass = isDraft ? `article--draft` : ``
%>

<article class="article article--full <%= articleDraftCLass %>">
  <% if (page.photos && page.photos.length){ %>
    <%- partial('_partial/post/gallery') %>
  <% } %>
  <%- partial('_partial/post/title', {item: page, index: false}) %>
  <aside class="article__toc">
    <div class="article__toc-sticky">
      Table of Content
      <%- toc(page.content, {list_number: false, max_depth: 3}) %>
    </div>
  </aside>
  <div class="article__content">
    <%- page.content %>
  </div>
  <footer class="article__footer">
    <%- partial('_partial/post/category', {item: page}) %>
    <%- partial('_partial/post/tag', {item: page}) %>
    <%- partial('_partial/post/share', {item: page}) %>
  </footer>
</article>

<%- partial('comment') %>
