<ul class="social">
  <li class="social__item">
    <a href="<%- config.root %>atom.xml">
      <%- partial('_icon', {name: `rss-feed`}) %>
    </a>
  </li>
  <li class="social__item">
    <a href="https://medium.com/@hiswehalya">
      <%- partial('_icon', {name: `c-medium`}) %>
    </a>
  </li>
  <li class="social__item">
    <a href="https://github.com/hiswe">
      <%- partial('_icon', {name: `c-github`}) %>
    </a>
  </li>
  <li class="social__item">
    <a href="https://medium.com/@hiswehalya">
      <%- partial('_icon', {name: `c-twitter`}) %>
    </a>
  </li>
</ul>
