<% if (site.tags.length){ %>
<div class="category-and-tag category-and-tag--tag">
  <h3 class="category-and-tag__title"><%- partial('_icon', {name: `local-offer`}) %> <%= __('tags') %></h3>
  <ul class="category-and-tag__entry">
  <% site.tags.sort('name').each(function(item){ %>
    <li><a href="<%- config.root %><%- item.path %>"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% }); %>
  </ul>
</div>
<% } %>
